# Setup

## Import and check packages

In [100]:
import sys
import json
import pandas as pd
import numpy as np
import os
import csv
import re, string

In [101]:
print('Version check:')
print('Python: {}'.format(sys.version))
print('pandas: {}'.format(pd.__version__))
print('regex: {}'.format(re.__version__))

Version check:
Python: 3.8.2 (default, Apr 27 2020, 15:53:34)
[GCC 9.3.0]
pandas: 1.0.3
regex: 2.2.1

## Functions

In [102]:
def parse_file(path):
    data = list()
    with open(path, 'r') as f:
        csv_reader = csv.reader(f, delimiter=',')
        for row in csv_reader:
            data.append(row)

    return data

# Import and prepare data

In [103]:
path = '/home/specc/Documents/school_files/453_nlp/assignment03_files/data_files/'
os.chdir(path) # set path to data files
len(os.listdir()) # check how many files are present

54

In [104]:
df = pd.DataFrame()
for item in os.listdir():
    test_path = item
    data = parse_file(item)
    temp_df = pd.DataFrame(data[1:], columns=data[0])
    df = pd.concat([df, temp_df], ignore_index=0)

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x80 in position 0: invalid start byte

In [105]:
df.head()

,,Review_Date,Author_Name,Vehicle_Title,Review_Title,Review,Rating
0,0,on 12/09/09 14:11 PM (PST),regretful,2009 Pontiac Torrent GXP GXP 4dr SUV AWD (3.6L...,regretful,"GM says 16/24 mileage,more like 12/19,that's ...",3.875
1,1,on 06/16/16 16:14 PM (PDT),David,2009 Pontiac Torrent SUV 4dr SUV (3.4L 6cyl 5A),2009 Pontiac Torrent 3.4L V6 AWDI have had a P...,I have had a 2009 Pontiac Torrent AWD 3.4 L V...,4
2,2,on 10/27/15 18:28 PM (PDT),Vic,2009 Pontiac Torrent SUV 4dr SUV (3.4L 6cyl 5A),"Great, reliable car/SUV.",Sold it. (But loved it and miss it!)Super dep...,5
3,3,on 09/22/10 00:00 AM (PDT),mollyd,2009 Pontiac Torrent SUV 4dr SUV AWD (3.4L 6cy...,Driving it until it dies.,"Originally owned a 2007, traded in for a 2009...",4.5
4,4,on 06/26/18 07:38 AM (PDT),Steve B.,2006 Pontiac Torrent SUV 4dr SUV (3.4L 6cyl 5A),Excellent SUV,"Bought new off the showroom floor,now has 325...",5

In [106]:
df.tail()

,,Review_Date,Author_Name,Vehicle_Title,Review_Title,Review,Rating
6646,4783,on 04/27/04 00:00 AM (PDT),AceRick124,1997 Mitsubishi Montero Sport SUV LS 4dr SUV 4WD,great SUV,bought at carmax 4/03 and drove for a \nyear....,4.375
6647,4784,on 11/24/03 00:00 AM (PST),Mrjb,1997 Mitsubishi Montero Sport SUV LS 4dr SUV 4WD,Nice!,Bought the car used (35k miles) Drove \nit fo...,4.5
6648,4785,on 04/09/02 00:00 AM (PDT),ugly,1997 Mitsubishi Montero Sport SUV XLS 4dr SUV 4WD,Good value for your money,I have had this vehicle for a little \nover t...,4.25
6649,4786,on 03/15/02 08:35 AM (PST),Raleigh,1997 Mitsubishi Montero Sport SUV XLS 4dr SUV 4WD,Reliability Is It,This is my 3rd Mitsubishi. I've enjoyed all ...,4.875
6650,4787,on 03/07/02 10:45 AM (PST),Ed D,1997 Mitsubishi Montero Sport SUV LS 4dr SUV 4WD,# 1 Review,several times check engine light has come on ...,3.75

## Drop rows with no text review

In [107]:
start_count = len(df)
start_count

22619

In [108]:
df[df['Review'].isnull()]

,,Review_Date,Author_Name,Vehicle_Title,Review_Title,Review,Rating
116,Car washes and heavy rain fill this compartmen...,3.5,None,None,None,None,None
193,Conkle pontiac. Problems with,None,None,None,None,None,None
194,interior features from day 1.,None,None,None,None,None,None
195,Winshield leaked damaging the,None,None,None,None,None,None
196,headliner. In the first month of,None,None,None,None,None,None
...,...,...,...,...,...,...,...
6635,interior is well laid out. no long,None,None,None,None,None,None
6636,reaches for controls. the gas mileage,None,None,None,None,None,None
6637,is a little weak (16) miles per gallon,None,None,None,None,None,None
6638,but the comfort on long trips more than,None,None,None,None,None,None
6639,makes up for it!,4.625,None,None,None,None,None

In [109]:
df.iloc[200]

                 work on it.  My audio controls and all
Review_Date                                         None
Author_Name                                         None
Vehicle_Title                                       None
Review_Title                                        None
Review                                              None
Rating                                              None
Name: 200, dtype: object

In [110]:
df.iloc[500]

                 until the gas cap was replaced;
Review_Date                                  None
Author_Name                                  None
Vehicle_Title                                None
Review_Title                                 None
Review                                       None
Rating                                       None
Name: 500, dtype: object

In [111]:
df.columns

Index(['', 'Review_Date', 'Author_Name', 'Vehicle_Title', 'Review_Title',
       'Review', 'Rating'],
      dtype='object')

In [112]:
df = df[df['Review'].notnull()] # removing odd data points

In [113]:
dropped_count = len(df) # comparing to old value

In [114]:
# difference
rows_removed = start_count - dropped_count
print('Number of blank reviews: {}'.format(rows_removed))

Number of blank reviews: 5106

## Remove reviews with fewer than 50 words

In [115]:
## Reviews with less than 50 words
def word_count(row):
    num_words = len(row)

    return num_words

In [116]:
df['review_word_count'] = df['Review'].apply(word_count)

In [117]:
df.review_word_count.describe()

count    17513.000000
mean       496.569234
std        433.947984
min          1.000000
25%        256.000000
50%        456.000000
75%        660.000000
max       4996.000000
Name: review_word_count, dtype: float64

In [118]:
before_len = len(df)

In [119]:
df = df[df['review_word_count'] >= 50]

In [120]:
after_len = len(df)

In [121]:
num_removed = before_len - after_len
print('Number of reviews with fewer than 50 words: {}'.format(num_removed))

Number of reviews with fewer than 50 words: 1378

## Remove reviews with no ratings

In [122]:
start_count = len(df)

In [123]:
df = df[df.Rating.notnull()]
df.head()

,,Review_Date,Author_Name,Vehicle_Title,Review_Title,Review,Rating,review_word_count
0,0,on 12/09/09 14:11 PM (PST),regretful,2009 Pontiac Torrent GXP GXP 4dr SUV AWD (3.6L...,regretful,"GM says 16/24 mileage,more like 12/19,that's ...",3.875,547
1,1,on 06/16/16 16:14 PM (PDT),David,2009 Pontiac Torrent SUV 4dr SUV (3.4L 6cyl 5A),2009 Pontiac Torrent 3.4L V6 AWDI have had a P...,I have had a 2009 Pontiac Torrent AWD 3.4 L V...,4,1422
2,2,on 10/27/15 18:28 PM (PDT),Vic,2009 Pontiac Torrent SUV 4dr SUV (3.4L 6cyl 5A),"Great, reliable car/SUV.",Sold it. (But loved it and miss it!)Super dep...,5,837
3,3,on 09/22/10 00:00 AM (PDT),mollyd,2009 Pontiac Torrent SUV 4dr SUV AWD (3.4L 6cy...,Driving it until it dies.,"Originally owned a 2007, traded in for a 2009...",4.5,697
4,4,on 06/26/18 07:38 AM (PDT),Steve B.,2006 Pontiac Torrent SUV 4dr SUV (3.4L 6cyl 5A),Excellent SUV,"Bought new off the showroom floor,now has 325...",5,520

In [124]:
end_count = len(df)

num_empty_ratings = start_count - end_count
print('Number of rows with no ratings: {}'.format(num_empty_ratings))

Number of rows with no ratings: 19

## Split train/test set

In [125]:
shuffle_df = df.sample(frac=1).reset_index(drop=True)

In [126]:
shuffle_df.head()

,,Review_Date,Author_Name,Vehicle_Title,Review_Title,Review,Rating,review_word_count
0,212,on 11/06/02 00:00 AM (PST),Danb,2003 Pontiac Montana Minivan Fwd 4dr Ext Miniv...,2000 Montana Ext,"Great running gear, but everything else \nis ...",3.25,613
1,3189,on 08/04/16 20:05 PM (PDT),Rob,2016 Mitsubishi Outlander SUV SEL 4dr SUV (2.4...,Four months after buying and still loving it,We shopped for a year before deciding on the ...,5,2305
2,49,on 07/08/18 09:50 AM (PDT),Pierre Monette,2017 Tesla Model 3 Sedan Long Range 4dr Sedan ...,Fantastic value,"My Tesla 3 has the extended battery, premium ...",5,1135
3,171,on 04/25/05 03:26 AM (PDT),monepit2003,2003 Mitsubishi Eclipse Hatchback GTS 2dr Hatc...,"Good car, but not a sports car...",I bought the car new in May '02 and had to re...,4,613
4,4624,on 11/02/10 00:00 AM (PDT),Pat,2010 Subaru Forester SUV 2.5X Premium 4dr SUV ...,Fun to drive go anywhere vehicle,I agree with everyone about rattles. There is...,4.5,696

In [127]:
int(len(df) * 0.30)

4834

In [128]:
int(len(df) * 0.70)

11281

In [129]:
int(len(df) * 0.30) + int(len(df) * 0.70)

16115

In [130]:
len(shuffle_df.iloc[:int(len(df) * 0.70)])

11281

In [131]:
len(shuffle_df.iloc[int(len(df) * 0.70):])

4835

In [132]:
train_df = shuffle_df.iloc[:int(len(df) * 0.70)]
test_df = shuffle_df.iloc[int(len(df) * 0.70):]

# Export dataframes

In [133]:
# train_df.to_pickle('train_df.pkl')
# test_df.to_pickle('test_df.pkl')

In [134]:
df.to_pickle('processed_data.pkl')