# Setup

## Import and check packages

In [1]:
import sys
import json
import pandas as pd
import numpy as np
import os
import csv
import re, string

In [2]:
print('Version check:')
print('Python: {}'.format(sys.version))
print('pandas: {}'.format(pd.__version__))
print('regex: {}'.format(re.__version__))

Version check:
Python: 3.8.2 (tags/v3.8.2:7b3ab59, Feb 25 2020, 23:03:10) [MSC v.1916 64 bit (AMD64)]
pandas: 1.0.3
regex: 2.2.1

## Functions

In [3]:
def parse_file(path):
    data = list()
    with open(path, 'r') as f:
        csv_reader = csv.reader(f, delimiter=',')
        for row in csv_reader:
            data.append(row)

    return data

# Import and prepare data

In [46]:
path = '/home/specc/Documents/school_files/453_nlp/assignment03_files/data_files/'
#path = 'C:\\Users\\bxiao\Documents\\school_files\\453_nlp\\assignments\\453_assignment03\\data_files\\'
os.chdir(path) # set path to data files
len(os.listdir()) # check how many files are present

54

In [49]:
df = pd.DataFrame()
for item in os.listdir():
    if item.endswith('.csv'):
        try:
            data = parse_file(item)
            temp_df = pd.DataFrame(data[1:], columns=data[0])
            df = pd.concat([df, temp_df], ignore_index=0)
        except:
            continue

In [50]:
df.head()

,,Review_Date,Author_Name,Vehicle_Title,Review_Title,Review,Rating
0,0,on 04/28/17 08:08 AM (PDT),Garrett Stites,2015 Ferrari 458 Italia Convertible Spider 2dr...,The best car around!,This car gets great gas mileage and is the be...,5
1,1,on 11/19/11 16:47 PM (PST),debu99,2006 Ferrari 612 Scaglietti Coupe F1 2dr Coupe...,keeps on beeing just great,Owning the 612 now over 3 years and using it ...,4.75
2,2,on 06/28/07 22:12 PM (PDT),Arnell Baylet,2006 Ferrari 612 Scaglietti Coupe F1 2dr Coupe...,"Incredible Ride, Sticker Shock, Low MPG",Best controllable acceleration ever witnessed...,5
3,3,on 05/30/07 10:56 AM (PDT),gregMTU,2006 Ferrari 612 Scaglietti Coupe F1 2dr Coupe...,612 Scag The Best!,The engine is strong pulling right up to 7000...,5
4,4,on 01/21/07 12:58 PM (PST),Darrel McOnnery,2006 Ferrari 612 Scaglietti Coupe 2dr Coupe (5...,612 Scaglietti! Quietly the Best Ferrari Ever!,"This car, the 612 Scaglietti, is overlooked ...",5

In [8]:
df.tail()

,,Review_Date,Author_Name,Vehicle_Title,Review_Title,Review,Rating
4,4,on 01/05/09 13:12 PM (PST),AceOfRace,2008 Bugatti Veyron 16.4 Coupe 2dr Coupe AWD (...,Finest Piece Of Automotive Engineering,The Bugatti Veyron is the absolute best autom...,4.5
5,5,on 01/03/09 22:07 PM (PST),W. M. Delacroix,2008 Bugatti Veyron 16.4 Coupe 2dr Coupe AWD (...,"Excellent car, with some qualifications.",I purchased this car after an unfortunate mis...,4.25
6,6,on 09/02/08 03:17 AM (PDT),david_d413,2008 Bugatti Veyron 16.4 Coupe Pur Sang 2dr Co...,This car rocks!!!,"I purchased my Bugatti 3 weeks ago, and at fi...",4.75
7,7,on 04/20/08 02:32 AM (PDT),Jay,2008 Bugatti Veyron 16.4 Coupe Pur Sang 2dr Co...,Worthwhile to upgrade to turbo,The coolest running machine in the world!! Th...,4.625
8,8,on 07/31/06 07:49 AM (PDT),Gary Talis,2006 Bugatti Veyron 16.4 Coupe 2dr Coupe AWD (...,Ultimate driving machine,This is a car that a car lover of any age wou...,4.875

## Drop rows with no text review

In [9]:
start_count = len(df)
start_count

8575

In [10]:
df[df['Review'].isnull()]

,,Review_Date,Author_Name,Vehicle_Title,Review_Title,Review,Rating
29,luxuriouson the inside. The sporty,None,None,None,None,None,None
30,exterior is also another factor in the,None,None,None,None,None,None
31,rating. I think that buying this car is,None,None,None,None,None,None
32,probably the best decission i have ever,None,None,None,None,None,None
33,m,5,None,None,None,None,None
...,...,...,...,...,...,...,...
86,my husband one for his 35th birthday.,4.25,None,None,None,None,None
157,to it is the horrible fuel economy. It,None,None,None,None,None,None
158,is way worse than my Ford Explorer was.,4.5,None,None,None,None,None
163,ladies just love it. I got it stolen,None,None,None,None,None,None
164,once but I took care of that.,5,None,None,None,None,None

In [11]:
df.iloc[200]

                 owned all the names but the combination
Review_Date                                          None
Author_Name                                          None
Vehicle_Title                                        None
Review_Title                                         None
Review                                               None
Rating                                               None
Name: 200, dtype: object

In [12]:
df.iloc[500]

                 thing anyone could ever experience
Review_Date                                     None
Author_Name                                     None
Vehicle_Title                                   None
Review_Title                                    None
Review                                          None
Rating                                          None
Name: 240, dtype: object

In [13]:
df.columns

Index(['', 'Review_Date', 'Author_Name', 'Vehicle_Title', 'Review_Title',
       'Review', 'Rating'],
      dtype='object')

In [14]:
df = df[df['Review'].notnull()] # removing odd data points

In [15]:
dropped_count = len(df) # comparing to old value

In [16]:
# difference
rows_removed = start_count - dropped_count
print('Number of blank reviews: {}'.format(rows_removed))

Number of blank reviews: 2540

## Remove reviews with fewer than 50 words

In [17]:
## Reviews with less than 50 words
def word_count(row):
    num_words = len(row)

    return num_words

In [18]:
df['review_word_count'] = df['Review'].apply(word_count)

In [19]:
df.review_word_count.describe()

count    6035.000000
mean      400.746976
std       271.401869
min         1.000000
25%       207.000000
50%       378.000000
75%       598.000000
max      4467.000000
Name: review_word_count, dtype: float64

In [20]:
before_len = len(df)

In [21]:
df = df[df['review_word_count'] >= 50]

In [22]:
after_len = len(df)

In [23]:
num_removed = before_len - after_len
print('Number of reviews with fewer than 50 words: {}'.format(num_removed))

Number of reviews with fewer than 50 words: 642

## Remove reviews with no ratings

In [24]:
start_count = len(df)

In [25]:
df = df[df.Rating.notnull()]
df.head()

,,Review_Date,Author_Name,Vehicle_Title,Review_Title,Review,Rating,review_word_count
0,0,on 04/28/17 08:08 AM (PDT),Garrett Stites,2015 Ferrari 458 Italia Convertible Spider 2dr...,The best car around!,This car gets great gas mileage and is the be...,5,67
1,1,on 11/19/11 16:47 PM (PST),debu99,2006 Ferrari 612 Scaglietti Coupe F1 2dr Coupe...,keeps on beeing just great,Owning the 612 now over 3 years and using it ...,4.75,193
2,2,on 06/28/07 22:12 PM (PDT),Arnell Baylet,2006 Ferrari 612 Scaglietti Coupe F1 2dr Coupe...,"Incredible Ride, Sticker Shock, Low MPG",Best controllable acceleration ever witnessed...,5,266
3,3,on 05/30/07 10:56 AM (PDT),gregMTU,2006 Ferrari 612 Scaglietti Coupe F1 2dr Coupe...,612 Scag The Best!,The engine is strong pulling right up to 7000...,5,172
4,4,on 01/21/07 12:58 PM (PST),Darrel McOnnery,2006 Ferrari 612 Scaglietti Coupe 2dr Coupe (5...,612 Scaglietti! Quietly the Best Ferrari Ever!,"This car, the 612 Scaglietti, is overlooked ...",5,322

In [26]:
end_count = len(df)

num_empty_ratings = start_count - end_count
print('Number of rows with no ratings: {}'.format(num_empty_ratings))

Number of rows with no ratings: 14

## Split train/test set

In [27]:
shuffle_df = df.sample(frac=1).reset_index(drop=True)

In [28]:
shuffle_df.head()

,,Review_Date,Author_Name,Vehicle_Title,Review_Title,Review,Rating,review_word_count
0,232,on 01/24/08 05:36 AM (PST),Odyssey,1999 Isuzu Oasis Minivan S 4dr Minivan,Wonderful car!,Greatest value out there. Since it says Isuz...,4.625,194
1,7,on 10/14/10 00:00 AM (PDT),taylor,2001 Isuzu Rodeo Sport SUV Soft Top 2WD 2dr SU...,Great Truck But Check Transmission!,This has been a great truck for us. The only ...,4.5,697
2,2076,on 09/17/16 20:03 PM (PDT),Angie K.,2001 Mercury Cougar Hatchback 2dr Hatchback (2...,Not A Smart Buy,"We bought this Cougar with 80,000 miles on it...",1,322
3,911,on 06/16/18 08:23 AM (PDT),Jim,2001 Isuzu Trooper SUV LS 4WD 4dr SUV (3.5L 6c...,it's 2018 and I still own my 2001 Trooper,It's 2018 and I still own my 2001 Trooper. I ...,5,830
4,2511,on 02/09/10 07:08 AM (PST),Greg E,2004 Mercury Marauder Sedan 4dr Sedan (4.6L 8c...,Best Car,"I've owned alot of cars over the years, and t...",5,158

In [29]:
int(len(df) * 0.30)

1613

In [30]:
int(len(df) * 0.70)

3765

In [31]:
int(len(df) * 0.30) + int(len(df) * 0.70)

5378

In [32]:
len(shuffle_df.iloc[:int(len(df) * 0.70)])

3765

In [33]:
len(shuffle_df.iloc[int(len(df) * 0.70):])

1614

In [34]:
train_df = shuffle_df.iloc[:int(len(df) * 0.70)]
test_df = shuffle_df.iloc[int(len(df) * 0.70):]

# Export dataframes

In [35]:
# train_df.to_pickle('train_df.pkl')
# test_df.to_pickle('test_df.pkl')

In [36]:
df.to_pickle('processed_data.pkl')